<html>
    <head>
        <title>Video Streaming</title>
        <style>
            body, html {
                margin: 0;
                padding: 0;
            }
            img, canvas {
                width: 100vw;
            }
        </style>
    </head>

    <body>
        <!-- <canvas
            id="the_background_527"
        >
        </canvas> -->
        <img
            id="the_background_527"
            src="{{ url_for('video', num=0) }}"
        />
    </body>

    <script>
        function toggleFullScreen() {
            if (
                (document.fullScreenElement &&
                    document.fullScreenElement !== null) ||
                (!document.mozFullScreen && !document.webkitIsFullScreen)
            ) {
                if (document.documentElement.requestFullScreen) {
                    document.documentElement.requestFullScreen();
                } else if (document.documentElement.mozRequestFullScreen) {
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullScreen) {
                    document.documentElement.webkitRequestFullScreen(
                        Element.ALLOW_KEYBOARD_INPUT
                    );
                }
                document.getElementById("the_background_527").style.height = "100vh";
                screen.orientation.lock('landscape');
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
                document.getElementById("the_background_527").style.height = "";
            }
        }

        if (document.addEventListener) {
            document.addEventListener('contextmenu', function(e) {
                toggleFullScreen();
                e.preventDefault();
            }, false);
        } else {
            document.attachEvent('oncontextmenu', function() {
                toggleFullScreen();
                window.event.returnValue = false;
            });
        }

        /*
        let dpi = window.devicePixelRatio;
        var canvas = document.getElementById("the_background_527");
        var canvas_context = canvas.getContext('2d');
        canvas_context.imageSmoothingEnabled = false;

        function fix_dpi() {
            let style_height = +getComputedStyle(canvas).getPropertyValue("height").slice(0, -2);
            let style_width = +getComputedStyle(canvas).getPropertyValue("width").slice(0, -2);
            canvas.setAttribute('height', style_height * dpi);
            canvas.setAttribute('width', style_width * dpi);
        }
        fix_dpi()
        window.onresize = fix_dpi

        function animate() {
            var img = new Image;
            img.width = "100vw"
            img.height = "100vh"
            img.onload = function(){
                canvas_context.clearRect(0, 0, canvas.width, canvas.height);
                canvas_context.drawImage(img, 0, 0, canvas.width, canvas.height); // Or at whatever offset you like

                // call again next time we can draw
                // requestAnimationFrame(animate);
                setTimeout(animate, 0)
            };
            random_number = Math.floor(Math.random() * 1000000000000)
            var the_url = `{{ url_for('image', random_number=0) }}`
            img.src = the_url + random_number;
        }

        animate()
        */

        // following are additional script 

        function flask_html_send_mouse_move_post_json_requst(percent_x, percent_y) {
            const SCRIPT_ROOT = {{ request.script_root|tojson }}
            const mouse_move_url = `${SCRIPT_ROOT}/mouse_move`

            fetch(mouse_move_url, {
                "method": "POST",
                "headers": {"Content-Type": "application/json"},
                "body": JSON.stringify({
                    percent_x: percent_x,
                    percent_y: percent_y
                }),
            }).then()
        }

        function flask_html_send_cursor_left_click_post_json_requst(percent_x, percent_y) {
            const SCRIPT_ROOT = {{ request.script_root|tojson }}
            const mouse_left_click_url = `${SCRIPT_ROOT}/mouse_left_click`

            fetch(mouse_left_click_url, {
                "method": "POST",
                "headers": {"Content-Type": "application/json"},
                "body": JSON.stringify({
                    percent_x: percent_x,
                    percent_y: percent_y
                }),
            }).then()
        }

        let move_mouse_last_called = Date.now()
        function handle_mouse_move(x, y) {
            const now = Date.now();
            if (now - move_mouse_last_called < 111) {
                return;
            };
            move_mouse_last_called = now;

            const x_percent = x / window.innerWidth;
            const y_percent = y / window.innerHeight;

            flask_html_send_mouse_move_post_json_requst(x_percent, y_percent);
        }

        function handle_left_click_or_touch(x, y) {
            // get percent representation of x, y
            const x_percent = x / window.innerWidth;
            const y_percent = y / window.innerHeight;

            flask_html_send_cursor_left_click_post_json_requst(x_percent, y_percent);
        }

        // on mouse move
        document.addEventListener("mousemove", function(event) {
            handle_mouse_move(event.pageX, event.pageY)
        });

        // on touch move
        document.addEventListener("touchmove", function(event) {
            handle_mouse_move(event.touches[0].pageX, event.touches[0].pageY)
        });

        document.addEventListener("click", function(event) {
            // do something when the user clicks
            handle_left_click_or_touch(event.pageX, event.pageY)
        });

        document.addEventListener("touchend", function(event) {
            // do something after the user touches the screen
            handle_left_click_or_touch(event.touches[0].pageX, event.touches[0].pageY)
        });
    </script>
</html>
